<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-12 p-b-30">
            <div class="row">
                <div *ngIf="loginService.isLoged" class="col-lg-10 mx-auto">
                    <h3 class="mt-2 mb-1">
                        <strong>Nombre:</strong>
                    </h3>
                    {(loggedUser.name)}
                    <h3 class="mt-2 mb-1">
                        <strong>Usuario:</strong>
                    </h3>
                    {(loggedUser.userName)}
                    <h3 class="mt-2 mb-1">
                        <strong>Teléfono:</strong>
                    </h3>
                    {(loggedUser.telephone)}
                    <h3 class="mt-2 mb-1">
                        <strong>Dirección:</strong>
                    </h3>
                    {(loggedUser.address)}
                    <h3 class="mt-2 mb-1">
                        <strong>Ciudad:</strong>
                    </h3>
                    {(loggedUser.city)}
                    <h3 class="mt-2 mb-1">
                        <strong>Ciudad:</strong>
                    </h3>
                    {(loggedUser.city)}
                    <h3 class="mt-2 mb-1">
                        <strong>CP:</strong>
                    </h3>
                    {(loggedUser.pc)}
                    <div class="row">
                        <button type="button" class="btn btn-primary" (click)="logOut()">Cerrar sesión</button>
                    </div>
                </div>
                <div *ngIf="!loginService.isLoged" class="col-lg-10 mx-auto">
                    <div class="t-center">
						<span class="tit2 t-center">
							Usuario
						</span>
						<h3 class="tit3 t-center m-b-35 m-t-2">
							Iniciar Sesión
						</h3>
                    </div>
                    <form class="wrap-form-reservation size22 m-l-r-auto" action="/user" method="post">
                        <input type="text" placeholder="&#128272; Usuario" name="user">
                        <input type="password" placeholder="&#128272; Contraseña" name="password">
                        <input type="submit" value="Enviar">
                        <a [routerLink]="['/register']" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
                            Registrarse
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>