<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../assets/images/contactTopPic.jpeg);">
    <h2 class="tit6 t-center">
        Contacto
    </h2>
</section>

<!-- Contact form -->
<section class="section-contact bg1-pattern p-t-90 p-b-113">
    <!-- Map -->
    <div class="container">
        <div class="map bo8 bo-rad-10 of-hidden">
            <div class="contact-map size37" id="google_map" data-map-x="40.335207" data-map-y="-3.874828" data-pin="images/icons/Cerdito.png" data-scrollwhell="0" data-draggable="1"></div>
        </div>
    </div>

    <div class="container">
        <div class="row p-t-135">
            <div class="col-sm-8 col-md-4 col-lg-4 m-l-r-auto p-t-30">
                <div class="dis-flex m-l-23">
                    <div class="p-r-40 p-t-6">
                        <img src="../../assets/images/icons/map-icon.png" alt="IMG-ICON">
                    </div>

                    <div class="flex-col-l">
                        <span class="txt5 p-b-10">
                            Localización
                        </span>

                        <span class="txt23 size38">
                            Calle Tulipán, s/n, 28933 Móstoles, Madrid 
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-3 col-lg-4 m-l-r-auto p-t-30">
                <div class="dis-flex m-l-23">
                    <div class="p-r-40 p-t-6">
                        <img src="../../assets/images/icons/phone-icon.png" alt="IMG-ICON">
                    </div>


                    <div class="flex-col-l">
                        <span class="txt5 p-b-10">
                            Llámanos
                        </span>

                        <span class="txt23 size38">
                            (+34) 916 65 50 60 
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-5 col-lg-4 m-l-r-auto p-t-30">
                <div class="dis-flex m-l-23">
                    <div class="p-r-40 p-t-6">
                        <img src="../../assets/images/icons/clock-icon.png" alt="IMG-ICON">
                    </div>


                    <div class="flex-col-l">
                        <span class="txt5 p-b-10">
                            Horario de apertura
                        </span>

                        <span class="txt23 size38">
                            10:00 AM - 11:30 PM <br/>Lunes a Domingos
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>