<header>
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
        <div class="container h-full">
            <div class="wrap_header trans-0-3">
                <!-- Logo -->
                <div class="logo">
                    <a href="/index">
                        <img src="images/icons/logo3.png" alt="IMG-LOGO" data-logofixed="images/icons/logo3.png">
                    </a>
                </div>

                <!-- Menu -->
                <div class="wrap_menu p-l-45 p-l-0-xl">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a [routerLink]="['/index']" title="">Home</a>
                            </li>

                            <li>
                                <a [routerLink]="['/menu']">Menu</a>
                            </li>

                            <li>
                                <a [routerLink]="['/product']">Platos</a>
                            </li>

                            <li>
                                <a [routerLink]="['/contact']">Contacto</a>
                            </li>

                            <li>
                                <a [routerLink]="['/user']">Usuario</a>
                            </li>
                            
                            <li>
                                <a [routerLink]="['shoppingCart']">Carrito</a>
                            </li>

                            <li>
                                 <span class="glyphicon glyphicon-shopping-cart my-cart-icon  fa fa-shopping-cart"><span class="badge badge-notify my-cart-badge">Carrito</span></span>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Social -->
                <div class="social flex-w flex-l-m p-r-20">
                    <a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google m-l-21" aria-hidden="true"></i></a>

                    <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                </div>
            </div>
        </div>
    </div>
</header>